.assigned-user-item {
    color: var(--pri-text-color);
    display: flex;
    align-items: center;
}

.assigned-user-item.selected {
    background-color: var(--pri-bg-color);
    border-color: var(--pri-button-bg-color);
}

.assigned-user-checkbox {
    margin-right: 0.75rem;
}

.assigned-user-checkbox input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    accent-color: var(--pri-button-bg-color);
}

.members-list {
    overflow-y: auto;
    max-height: 10rem;
}

.assigned-user-item.hide {
    display: none;
}
