.data-theme-holder {
    width: 220px;
    height: 160px;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.data-theme-container {
    width: 200px;
    height: 120px;
    background-color: var(--pri-bg-color);
    display: flex;
}

.data-theme-left {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.data-theme-center {
    background-color: var(--sec-bg-color);
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: var(--pri-bd-color);
}

.data-theme-right {
    background-color: var(--sec-bg-color);
    width: 20%;
    display: flex;
    flex-direction: column;
}

.data-theme-left-name, .data-theme-left-list {
    background-color: var(--pri-bg-color);
}

.data-theme-left-user {
    background-color: var(--ter-bg-color);
}

.data-theme-left-name,
.data-theme-left-user,
.data-theme-center-name,
.data-theme-center-input,
.data-theme-right-name,
.data-theme-right-last {
    height: 10%;
}

.data-theme-left-list, .data-theme-center-messages, .data-theme-right-list {
    height: -webkit-fill-available;
}

.data-theme-left-name,
.data-theme-center-name,
.data-theme-right-name {
    border-bottom: 1px solid;
    border-color: var(--pri-bd-color);
}

.data-theme-left-user,
.data-theme-center-input {
    border-top: 1px solid;
    border-color: var(--pri-bd-color);
}

.data-theme-right-name {
    border-bottom: 1px solid;
    border-color: var(--pri-bd-color);
}

.data-theme-right-list {
    border-color: var(--pri-bd-color);
}

.data-theme-message-input {
    background-color: var(--ter-bg-color);
    height: 5px;
    width: 95%;
    margin: 2px;
    font-size: 4px;
    color: var(--pri-placeholder-color);
}

.data-theme-center-messages, .data-theme-right-list {
    display: flex;
    flex-direction: column;
}

.data-theme-button {
    font-size: 4px;
    margin: 2px;
    padding: 2px;
    border-radius: 2px;
}

.data-theme-message {
    color: var(--pri-text-color);
    font-size: 4px;
    margin: 2px;
}