[hidden]:where(:not([hidden=until-found])) {
    display: none
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.-bottom-1 {
    bottom: -0.25rem
}

.-right-1 {
    right: -0.25rem
}

.h-4 {
    height: 1rem
}

.w-4 {
    width: 1rem
}

.rounded-full {
    border-radius: 9999px
}

.border-2 {
    border-width: 2px
}

.border-gray-800 {
    --tw-border-opacity: 1;
    border-color: rgb(31 41 55 / var(--tw-border-opacity, 1))
}

.bg-green-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(74 222 128 / var(--tw-bg-opacity, 1))
}

.ring-2 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}