/* Body */
body {
    color: white;
    background-color: black;
}

/* Sidebar */

.sidebar {
    background-color: black;
    border-color: beige;
}

.sidebar-header {
    background: black;
    border-color: beige;
    border-bottom-width: 1px;
}

.sidebar-title h2{
    color: white;
}

.sidebar-title p{
    color: gray;
}

/* Room */
.room {
    border-color: darkgrey;
    color: white;
}

.room:hover {
    background-color: #595959;
}

.room.active {
    background-color: #2c2c2c;
}

.room.active:hover {
    background-color: #595959;
}

/* Status */
.status-container {
    border-color: beige;
    background: black;
    border-top-width: 1px;
}

.status-bloc-1 .name {
    color: white;
}

.status-bloc-1 .status {
    color: grey;
}

/* Chat */
.chat-header {
    border-color: beige;
    background: black;
    border-bottom-width: 1px;
}

.chat-name {
    color: white;
    font-weight: 600;
}

.chat-input-container {
    background: black;
    border-color: beige;
    border-top-width: 1px;
}

.chat-text input {
    color: white;
    background-color: #2c2c2c;
}

.chat-text input::placeholder {
    color: rgb(156, 163, 175)
}

.chat-text input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

/* Message */
.message-owner {
    color: white;
}

.message-content {
    color: white;
}

.message-timestamp {
    color: rgb(156, 163, 175);
}